<!-- <html>
  <head>
    <title>IdeaBox</title>
  </head> -->
  <body>
    <h1>All I Want For Christmas</h1>
    <div class="input-form">
        <form action='/' method='POST'>
          <p>
            Is You. <br> But, can you also buy me this:
          </p>
          <div class="controls controls-row">
          <input class="span3" type='text' name='idea[title]' placeholder="Name" /><br/>
          </div>
        	<!-- <input type='text' name='idea[title]' /><br/> -->
        	<textarea class="span4" name='idea[description]' placeholder="Wish"></textarea><br/>
        	<input type='submit' value="" class="imgClass"/>
          <audio src="/images/Mariah.mp3" controls></audio>
        </form>
    </div>
    <h3>Wish List</h3>

    <ul>
    	<% ideas.each do |idea| %>
    	<li>
    		<%= idea.title %><br/>
    		<%= idea.description %>
            <form action='/<%= idea.id %>/dislike' method='POST' style="display: inline"><br/>
                <input type='submit'value="naughty"/>
            </form>
            <form action='/<%= idea.id %>/like' method='POST' style="display: inline">
                <input type='submit' value="nice"/><br>
            </form>
    		<a href="/<%= idea.id %>/edit">check it twice</a>
    		<form action="/<%= idea.id %>" method="POST">
    			<input type="hidden" name="_method" value="DELETE">
    			<input type="submit" value="delete"/>
    		</form>
    	</li>
    	<% end %>
    </ul>
  </body>
<!-- </html> -->
